.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Large/raw medical data
/data/archive/
*.nii
*.nii.gz

# OS/editor junk
.DS_Store
Thumbs.db
/data/processed/
/dataset/
/tb-data/
/tb-data.bak/
/tb-logs/
/tb-logs.bak/
